body {
  background: #eee;
}

.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.hero-image {
  width: 100%;
  max-width: 255pt;
  height: auto;
}
