* {
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

body {
  background-color: #eeeeee;
}

a:link {
  text-decoration: none;
}

code {
  font-family: monospace, monospace;
  padding: 0.2rem 0.5rem;
  margin: 0 0.2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #f1f1f1;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
}

footer {
  text-align: center;
  color: #888;
  margin-top: 16px;
}

.page {
  margin: 0 auto;
  margin-top: 32px;
  padding-left: 32px;
  padding-right: 32px;
  max-width: 960px;
}

#title {
  font-family: Georgia, serif;
  font-size: 3.1rem;
  columns: #222;
}

#subtitle {
  font-family: Georgia, serif;
  font-size: 1.3rem;
  color: #666;
}

.tablink {
  font-size: 1.3rem;
  color: #3c3b6e;
  text-decoration: none;
}

.tab {
  margin-right: 1.1em;
}

.content {
  border: 1px solid #aaa;
  background: #ffffff;
  padding: 30px;
}

.content-title {
  font-size: 2rem;
  color: #b22234;
}

.content-inside {
  padding-top: 20px;
  line-height: 1.5rem;
}

.project-img {
  width: 128px;
  border-radius: 16px;
}
