@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

body {
  padding: 10px;
  background-color: rgb(86, 73, 65);
  color: rgb(200, 200, 200);
}

.centered {
  text-align: center;
}

a:link {
  text-decoration: none;
  padding-right: 10px;
  padding-left: 10px;
  color: rgb(692, 494, 0);
}

a:visited {
  color: rgb(314, 216, 0); 
}